html, body{
  height:100%;
}
body {
  background-image:url("background1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
#heading{
  margin-top:100px;
}
.head_text{
  text-align: center;
  font-size:4em;
}
#head_text{
  padding-top: 1em;
}

#container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:60%;
}

.landing{
  margin-top: 5%;
  margin-bottom: 5%;
  height: 8em;
  width: 20em;

}
.landing span{
  font-size:1.5em;
}
.before-tags{

}
.for-tags{
  display:none;
  height:80%;
}
.row{
  height:100%;
  flex-direction:row;
  flex-wrap:nowrap;

}
.tags{

  width:40vw;
  height:100%;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;

}
.tag{
  background-color:firebrick;
  width:90px;
  line-height: 2;
  color:ghostwhite;
  border-radius:15px;
  position:absolute !important;
  box-shadow: 3px 2px grey;

}

.bucket{
  /* background-color:red; */
  width:45vw;
  height:100%;
  margin:auto;
  transform:translateY(-50px);
  /* border:2px solid black; */
  clip-path: polygon(100% 1%, 0% 1%, 0% 15%, 0% 62%, 2% 69%, 5% 71%, 9% 78%, 13% 80%, 18% 86%, 22% 88%, 25% 93%, 33% 97%, 39% 100%, 48% 100%, 55% 100%, 65% 100%, 77% 94%, 86% 89%, 94% 82%, 100% 78%);

}

.btn-crave{
  width:5em;
  height:5em;
  font-size:1.5em;
  background-image:url("crave.png");
  background-size: cover;
  background-color:grey;
  color:white;


}
.hideScreen{
  transition:all 1s linear;
  transform:translate(-1500px, 0px);

}
.collapse{
  height:0px !important;
}
.showScreen{

  transition: 1s linear;
  transform: translate(0px, 0px);

}
.myrow{
  display:flex;
  flex-direction:row;
}
.carousel-item{
  max-width:600px !important;
  max-height:300px!important;
}

#wait{
  display:none;
  width: 300px;
  height: 80px;
  z-index:1000;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;
  text-align:center;
  font-size:1.5em;
  
}
#spinner{
     background-image:url("loader.png");
     background-size:cover;
     width: 80px;
     height: 80px;
     z-index:1000;
     margin: auto;

}


@keyframes spin{
     from {
         transform: rotateY(0deg);
     } to {
         transform:rotateY(360deg);
     }
  }
