html, body{
  height:100%;
}
body {
  background-color: #FFFCDE;
}

h1{
  text-align: center;
  padding-top: 2em;
}
#container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:60%;
}

button {
  height: 8em;
  width: 20em;
  margin-top: 5%;
  margin-bottom: 5%;
}
.before-tags{

}
.for-tags{
  display:none;
  height:60%;
}
.row{
  height:100%;
}
.tags{

  width:40vw;
  height:100%;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;

}
.tag{
  width:70px;
  height:70px;
  background-color:blue;
  margin:10px;
  position:absolute !important;
}

.bucket{
  background-color:red;
  width:15vw;
  height:100%;
  margin:auto;

  /* border:2px solid black; */
    clip-path: polygon(0 0, 100% 0, 72% 100%, 33% 100%);
}

.btn-crave{
  width:5em;
  height:2em;
  font-size:1.5em;
}
.hideScreen{
  transition:all 1s linear;
  transform:translate(-1250px, 0px);

}
.collapse{
  height:0px !important;
}
.showScreen{

  transition: 1s linear;
  transform: translate(0px, 0px);

}
